<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

       http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--该文件可以废弃了-->

    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="primary::master"/>
    </bean>

    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="select*" propagation="SUPPORTS" isolation="READ_COMMITTED" read-only="true"/>
            <tx:method name="get*" propagation="SUPPORTS" isolation="READ_COMMITTED" read-only="true"/>
            <tx:method name="find*" propagation="SUPPORTS" isolation="READ_COMMITTED" read-only="true"/>

            <tx:method name="save*" propagation="REQUIRED" isolation="READ_COMMITTED" read-only="false"/>
            <tx:method name="add*" propagation="REQUIRED" isolation="READ_COMMITTED" read-only="false"/>
            <tx:method name="*insert*" propagation="REQUIRED" isolation="READ_COMMITTED" read-only="false"/>
            <tx:method name="delete*" propagation="REQUIRED" isolation="READ_COMMITTED" read-only="false"/>
            <tx:method name="remove*" propagation="REQUIRED" isolation="READ_COMMITTED" read-only="false"/>
            <tx:method name="update*" propagation="REQUIRED" isolation="READ_COMMITTED" read-only="false"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:advisor advice-ref="txAdvice"
                     pointcut="execution(* com.jn.sqlhelper.examples.mybatis.dao.*Dao.*(..))"></aop:advisor>
    </aop:config>

</beans>