# Created by .ignore support plugin (hsz.mobi)
.idea/
sqlhelper-dialect/sqlhelper-dialect.iml
sqlhelper-dialect/target/
sqlhelper-mybatis/sqlhelper-mybatis.iml
sqlhelper-mybatis/target/
sqlhelper.iml
