server:
  port: 8083

mybatis:
  type-aliases-package: com.jn.sqlhelper.examples.model
  mapper-locations: classpath*:mapper/*.xml

swagger:
  base-package: com.jn.sqlhelper.examples.mybatis.mbg.controller
  application-title: SQLHelper + MyBatis + MyBatisGenerator

spring:
  # https://h2database.com/
  datasource:
    url: jdbc:h2:file:${user.dir}/sqlhelper-examples/sqlhelper-examples-db/src/main/resources/test
    driver-class-name: org.h2.Driver
    username: sa
    password: 123456

logging:
  level:
    root: info
    com:
      jn:
        sqlhelper:
          examples:
            common:
              dao: trace
