server:
  port: 8088

mybatis:
  type-aliases-package: com.jn.sqlhelper.examples.common.model
  mapper-locations: classpath*:mapper/*.xml

spring:
  datasource:
    url: jdbc:h2:~/test
    driver-class-name: org.h2.Driver
    username: sa
sqlhelper:
  mybatis:
    instrumentor:
      name: mybatis
      cache-instrumented-sql: true
      subquery-paging-start-flag: "[PAGING_START]"
      subquery-paging-end-flag: "[PAGING_END]"
logging:
  level:
    root: warn
    com:
      jn:
        sqlhelper:
          examples:
            common:
              dao: trace